.container {
  max-width: 100%;
}

.title {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.underline {
  border-bottom: 1px solid;
}

.content {
  display: flex;
  align-items: top;
  justify-content: space-between;
  max-width: 100%;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
  display: flex;
}

.image {
  object-fit: contain;
  margin-right: auto;
}
