.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: 211px;
  height: 75px;
}

.logo {
  font-size: 48px;
}

.darkTheme {
  color: #c1ff70;
}

.lightTheme {
  color: #000000;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  color: white;
}

.button {
  padding: 3px;
  width: 80px;
  border: none;
  background-color: #ffffff;
  color: #0d1444;
  cursor: pointer;
  border-radius: 15px;
}
