.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: 211px;
  height: 75px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  color: var(--link-hover);
}

.button {
  padding: 3px;
  width: 80px;
  border: none;
  background-color: #ffffff;
  color: #0d1444;
  cursor: pointer;
  border-radius: 15px;
}

.darkTheme {
  font-size: 48px;
  color: var(--dark-accent);
  transition: 1s;
}

.lightTheme {
  font-size: 48px;
  color: var(--light-text-color);
  transition: 1s;
}
