.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  position: relative;
  top: 4px;
  font-size: 24px;
}

.copyrightText {
  font-size: 12px;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialDark {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark-accent);
}

.icon {
  opacity: 0.8;
  cursor: pointer;
}
