.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  border: 1px solid white;
}

.image {
}

.content {
  border: 1px solid white;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  color: #999;
}
